# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\03.Hoc_Tap\module-2\abstract\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
